@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/

.wrapper {
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax {
  position: relative;
  height: 100%;
}
.parallax__montain {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax__montain_1 {
  background: url(/image/m_1.png) 0 0/cover no-repeat;
}
.parallax__montain_2 {
  background: url(/image/m_2.png) bottom right/45% no-repeat;
  z-index: 1;
}
.parallax__montain_3 {
  background: url(/image/m_3.png) bottom left/100% no-repeat;
  z-index: 1;
}
.parallax__fog {
  background: url(/image/fog_1.png) bottom / 100% no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.contetnt {
  position: relative;
}
.content__body {
  max-width: 1170px;
  margin: 0px auto;
}
.content__header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 20px;
}
.conteny__title {
  font-size: 120px;
}
.content__subtitle {
  font-size: 40px;
}
.content__article {
  text-align: justify;
}